# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Shortcuts
# alias dl="cd ~/Downloads"
# alias blog="cd ~/Development/willianjusten.com.br && code ."

# General aliases
alias update="gfa ; ggpull"


# iOS related
alias repoup="bundle exec repo update"
alias installup="bundle exec pod install --repo-update"
alias rmderived="rm -rf ~/Library/Developer/Xcode/DerivedData"
